In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
missing_value_formats = ["n.a.","?","NA","n/a", "na", "--"]

df = pd.read_csv('Employee_Attrition.csv', na_values = missing_value_formats)

In [3]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41.920786,Yes,Travel_Rarely,990.110009,Sales,1.016716,1.770313,Life Sciences,1.033298,1.054148,...,1.012832,95.612654,0.000000,8.063833,0.000000,1.052104,5.795945,3.993896,0.000000,4.594972
1,51.589037,No,Travel_Frequently,276.776030,Research & Development,NaN,1.035333,Life Sciences,0.944859,2.107031,...,4.312008,85.370868,1.104642,8.965059,3.264952,2.526470,10.070232,7.937505,1.032295,5.901207
2,33.131540,Yes,Travel_Rarely,1204.158501,Research & Development,2.198662,2.118801,Other,0.810809,4.008125,...,2.332558,76.248084,0.000000,8.427238,3.004521,2.924784,0.000000,0.000000,0.000000,0.000000
3,34.707073,No,Travel_Frequently,1352.752432,Sales,2.937851,3.670674,Life Sciences,0.822976,4.587269,...,3.029591,75.888697,0.000000,7.662606,2.856001,3.117053,8.435324,5.563667,2.845429,0.000000
4,24.790188,No,Travel_Rarely,485.053333,Research & Development,1.988953,1.120496,Medical,NaN,7.228740,...,NaN,72.670937,0.953012,6.241733,2.814719,3.112317,2.040124,1.970786,2.495949,2.219353

In [4]:
df.tail()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1465,37.421699,No,Travel_Frequently,914.061807,Research & Development,21.647903,NaN,Medical,0.950166,2142.083554,...,3.020184,85.835352,0.962354,NaN,3.451951,2.819336,5.436125,2.021736,0.000000,NaN
1466,34.957777,No,NaN,574.675152,Research & Development,6.027683,1.122961,Medical,1.064563,2221.578902,...,1.014690,94.868401,0.923291,NaN,5.122188,2.560634,7.428423,7.504109,0.860105,6.756705
1467,26.884296,No,Travel_Rarely,151.506083,Research & Development,NaN,3.478895,Life Sciences,0.960908,NaN,...,1.952083,93.310094,1.096556,6.278564,0.000000,2.587121,5.965205,1.822679,0.000000,3.271091
1468,NaN,No,Travel_Frequently,995.977086,Human Resources,2.094496,2.956093,Medical,0.873312,2086.654641,...,4.182100,83.920873,0.000000,15.235372,3.338546,1.989767,7.738712,6.562611,0.000000,NaN
1469,38.133892,No,Travel_Rarely,703.677110,Research & Development,7.231661,3.292684,Medical,1.061133,NaN,...,1.076817,82.610288,0.000000,6.493763,3.451604,4.376818,3.755110,3.308961,1.070952,2.025939

In [5]:
df.shape

(1470, 35)

In [6]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

Descriptive Statistics

In [7]:
df.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000,...,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000
mean,36.635268,802.030050,9.091097,2.923447,0.999325,1026.679166,2.726443,65.647722,2.743028,2.058270,...,2.720431,80.241313,0.814757,11.426152,2.811756,2.762825,6.933624,4.233363,2.160710,4.117695
std,9.882161,414.031025,8.177870,1.072203,0.099656,610.480802,1.129679,21.469709,0.765568,1.127018,...,1.115959,8.022535,0.863076,8.075870,1.329044,0.761802,6.046798,3.658111,3.221481,3.594053
min,14.544608,86.828045,0.750112,0.770362,0.628985,1.054148,0.759655,23.855272,0.722008,0.715172,...,0.720696,53.793059,0.000000,0.000000,0.000000,0.799138,0.000000,0.000000,0.000000,0.000000
25%,29.624982,456.479553,2.147069,2.122706,0.931146,501.854842,1.894818,47.701897,2.177638,1.045228,...,1.909010,74.882946,0.000000,5.953221,1.967328,2.193390,2.673269,1.824392,0.000000,1.687177
50%,34.951950,782.958705,6.920808,3.015658,0.998949,1022.025017,2.887313,64.934490,2.859143,1.936150,...,2.891235,80.351400,0.913651,9.306742,2.690934,2.899807,5.422160,2.968874,0.967140,2.939240
75%,42.748741,1130.577949,13.584900,3.700560,1.067371,1533.811096,3.676600,83.038355,3.179128,2.609707,...,3.639961,85.664169,1.082523,15.324548,3.366949,3.206117,9.238005,7.052591,2.586631,6.987964
max,69.402515,1784.394456,33.684424,6.285161,1.290613,2530.919375,5.254672,123.200439,5.241968,5.942269,...,5.092280,107.378705,3.474319,47.641892,7.503201,4.856086,36.848408,19.091844,17.273662,19.976003

In [8]:
df.describe(include='all')

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1323.000000,1323,1323,1323.000000,1323,1323.000000,1323.000000,1323,1323.000000,1323.000000,...,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000
unique,NaN,2,3,NaN,3,NaN,NaN,6,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,No,Travel_Rarely,NaN,Research & Development,NaN,NaN,Life Sciences,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,1065,890,NaN,824,NaN,NaN,504,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,36.635268,NaN,NaN,802.030050,NaN,9.091097,2.923447,NaN,0.999325,1026.679166,...,2.720431,80.241313,0.814757,11.426152,2.811756,2.762825,6.933624,4.233363,2.160710,4.117695
std,9.882161,NaN,NaN,414.031025,NaN,8.177870,1.072203,NaN,0.099656,610.480802,...,1.115959,8.022535,0.863076,8.075870,1.329044,0.761802,6.046798,3.658111,3.221481,3.594053
min,14.544608,NaN,NaN,86.828045,NaN,0.750112,0.770362,NaN,0.628985,1.054148,...,0.720696,53.793059,0.000000,0.000000,0.000000,0.799138,0.000000,0.000000,0.000000,0.000000
25%,29.624982,NaN,NaN,456.479553,NaN,2.147069,2.122706,NaN,0.931146,501.854842,...,1.909010,74.882946,0.000000,5.953221,1.967328,2.193390,2.673269,1.824392,0.000000,1.687177
50%,34.951950,NaN,NaN,782.958705,NaN,6.920808,3.015658,NaN,0.998949,1022.025017,...,2.891235,80.351400,0.913651,9.306742,2.690934,2.899807,5.422160,2.968874,0.967140,2.939240
75%,42.748741,NaN,NaN,1130.577949,NaN,13.584900,3.700560,NaN,1.067371,1533.811096,...,3.639961,85.664169,1.082523,15.324548,3.366949,3.206117,9.238005,7.052591,2.586631,6.987964
max,69.402515,NaN,NaN,1784.394456,NaN,33.684424,6.285161,NaN,1.290613,2530.919375,...,5.092280,107.378705,3.474319,47.641892,7.503201,4.856086,36.848408,19.091844,17.273662,19.976003

## Data Preparation

for the purposes of this analysis i will use 'attrition' as the target variable, first have to convert the variables to integers

In [9]:
df['Attrition'].value_counts()

No     1065
Yes     258
Name: Attrition, dtype: int64

In [10]:
df['Attrition'].unique()

array(['Yes', 'No', nan], dtype=object)

to handle the missing data in the target variable i am going to just drop the missing values in the column, as imputation might introduce a bias to the machine learning models

In [11]:
df.dropna(subset=['Attrition'], inplace=True)

In [12]:
df. shape

(1323, 35)

In [13]:
df['Attrition'].unique()

array(['Yes', 'No'], dtype=object)

In [14]:
df['Attrition'] = np.where(df['Attrition']=='Yes', 1,0)

In [15]:
df['Attrition'].value_counts()

0    1065
1     258
Name: Attrition, dtype: int64

In [16]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41.920786,1,Travel_Rarely,990.110009,Sales,1.016716,1.770313,Life Sciences,1.033298,1.054148,...,1.012832,95.612654,0.000000,8.063833,0.000000,1.052104,5.795945,3.993896,0.000000,4.594972
1,51.589037,0,Travel_Frequently,276.776030,Research & Development,NaN,1.035333,Life Sciences,0.944859,2.107031,...,4.312008,85.370868,1.104642,8.965059,3.264952,2.526470,10.070232,7.937505,1.032295,5.901207
2,33.131540,1,Travel_Rarely,1204.158501,Research & Development,2.198662,2.118801,Other,0.810809,4.008125,...,2.332558,76.248084,0.000000,8.427238,3.004521,2.924784,0.000000,0.000000,0.000000,0.000000
3,34.707073,0,Travel_Frequently,1352.752432,Sales,2.937851,3.670674,Life Sciences,0.822976,4.587269,...,3.029591,75.888697,0.000000,7.662606,2.856001,3.117053,8.435324,5.563667,2.845429,0.000000
4,24.790188,0,Travel_Rarely,485.053333,Research & Development,1.988953,1.120496,Medical,NaN,7.228740,...,NaN,72.670937,0.953012,6.241733,2.814719,3.112317,2.040124,1.970786,2.495949,2.219353

remove some columns which have the same information, for example, daily rate, hourly rate monthly rate etc. also some of the columns with features which we don't need

In [18]:
df['JobInvolvement'].unique()

array([3.42696027, 1.81345843, 1.87722648, ..., 4.39486338, 2.01975986,
       4.47896886])

In [20]:
to_remove = ['DailyRate', 'EmployeeCount', 'MonthlyIncome', 'MonthlyRate', 'Over18', 'TrainingTimesLastYear', 'BusinessTravel', 'EducationField', 'EmployeeNumber', 'JobInvolvement', 'EnvironmentSatisfaction', 'JobLevel', 'JobSatisfaction', 'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel', 'WorkLifeBalance']
df.drop(columns = to_remove, inplace=True)
df.shape

(1323, 17)

### renaming of colmns

In [21]:
new_columns = {'BusinessTravel': 'travel', 'Department': 'dpt',
       'DistanceFromHome': 'distance', 'EducationField':'field', 
       'EmployeeNumber': 'ID', 'EnvironmentSatisfaction': 'environment', 'HourlyRate': 'rate',
       'JobInvolvement': 'involement', 'JobLevel': 'level', 'JobRole': 'role', 'JobSatisfaction': 'job',
       'MaritalStatus': 'marriage', 'NumCompaniesWorked': 'companies',
       'PercentSalaryHike': 'hike', 'PerformanceRating': 'rating',
       'RelationshipSatisfaction': 'rlation', 'StandardHours': 'hours', 'StockOptionLevel': 'stocks',
       'TotalWorkingYears': 'yrsworked', 'TrainingTimesLastYear': 'training', 'WorkLifeBalance': 'wlb',
       'YearsAtCompany': 'yrs', 'YearsInCurrentRole': 'yrsrole', 'YearsSinceLastPromotion': 'yrspromo',
       'YearsWithCurrManager': 'yrsmanager'}

df.rename(columns = new_columns, inplace=True)

In [22]:
df.columns

Index(['Age', 'Attrition', 'dpt', 'distance', 'Education', 'Gender', 'rate',
       'role', 'marriage', 'companies', 'OverTime', 'hike', 'yrsworked', 'yrs',
       'yrsrole', 'yrspromo', 'yrsmanager'],
      dtype='object')

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1323 entries, 0 to 1469
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Age         1188 non-null   float64
 1   Attrition   1323 non-null   int32
 2   dpt         1187 non-null   object
 3   distance    1191 non-null   float64
 4   Education   1190 non-null   float64
 5   Gender      1191 non-null   object
 6   rate        1187 non-null   float64
 7   role        1189 non-null   object
 8   marriage    1194 non-null   object
 9   companies   1190 non-null   float64
 10  OverTime    1192 non-null   object
 11  hike        1189 non-null   float64
 12  yrsworked   1190 non-null   float64
 13  yrs         1190 non-null   float64
 14  yrsrole     1198 non-null   float64
 15  yrspromo    1192 non-null   float64
 16  yrsmanager  1184 non-null   float64
dtypes: float64(11), int32(1), object(5)
memory usage: 180.9+ KB

In [24]:
unique_counts = df.nunique()

print(unique_counts)

Age           1188
Attrition        2
dpt              3
distance      1191
Education     1190
Gender           2
rate          1187
role             9
marriage         3
companies     1025
OverTime         2
hike          1189
yrsworked     1183
yrs           1153
yrsrole       1004
yrspromo       721
yrsmanager     975
dtype: int64

dealing with duplicate rows

In [25]:
duplicate_rows = df[df.duplicated()]

print(duplicate_rows)

Empty DataFrame
Columns: [Age, Attrition, dpt, distance, Education, Gender, rate, role, marriage, companies, OverTime, hike, yrsworked, yrs, yrsrole, yrspromo, yrsmanager]
Index: []

In [26]:
print(df.isnull().sum())

Age           135
Attrition       0
dpt           136
distance      132
Education     133
Gender        132
rate          136
role          134
marriage      129
companies     133
OverTime      131
hike          134
yrsworked     133
yrs           133
yrsrole       125
yrspromo      131
yrsmanager    139
dtype: int64

In [27]:
data = df.dropna()

In [28]:
data.shape

(242, 17)

. dropping null values for this dataset ends up with us loosing most of the data hence it is not the best method of handling missing values

. so for float values i will use the mean to impute the values whereas for object values i will use the mode

In [29]:
float_columns = df.select_dtypes(include=['float']).columns

df[float_columns] = df[float_columns].apply(lambda x: x.fillna(x.mean()))

In [30]:
object_columns = df.select_dtypes(include=['object']).columns

df[object_columns] = df[object_columns].apply(lambda x: x.fillna(x.mode()[0]))

In [31]:
print(df.isnull().sum())

Age           0
Attrition     0
dpt           0
distance      0
Education     0
Gender        0
rate          0
role          0
marriage      0
companies     0
OverTime      0
hike          0
yrsworked     0
yrs           0
yrsrole       0
yrspromo      0
yrsmanager    0
dtype: int64

In [32]:
df.describe()

,Age,Attrition,distance,Education,rate,companies,hike,yrsworked,yrs,yrsrole,yrspromo,yrsmanager
count,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000
mean,36.625996,0.195011,9.029495,2.937637,65.726553,2.644961,15.310972,11.432609,6.931662,4.249085,2.171661,4.150196
std,9.246943,0.396359,7.739591,1.012718,20.289395,2.393307,3.784300,7.618823,5.681198,3.483927,3.043720,3.409550
min,14.544608,0.000000,0.750112,0.770362,23.855272,0.000000,7.684723,0.000000,0.000000,0.000000,0.000000,0.000000
25%,30.449915,0.000000,2.251218,2.215066,49.329204,0.965302,12.457861,6.393293,3.010641,1.889414,0.000000,1.827485
50%,36.389843,0.000000,7.762345,2.937637,65.726553,2.044892,15.076247,10.016087,5.953981,3.492072,1.036018,3.494981
75%,41.584252,0.000000,11.538223,3.608317,81.458186,3.690748,17.108845,14.148469,8.813044,6.781056,2.171661,6.735688
max,66.943784,1.000000,33.684424,6.285161,123.200439,10.855733,29.417952,43.621947,36.848408,19.091844,17.273662,19.976003

for several columns the values are in float, these have to be rounded off for easy handling in data preparation, statistical analysis and even machine learning modelling.

In [33]:
decimal_columns = df.select_dtypes(include=['float']).columns

print("Columns with decimal values:", list(decimal_columns))

Columns with decimal values: ['Age', 'distance', 'Education', 'rate', 'companies', 'hike', 'yrsworked', 'yrs', 'yrsrole', 'yrspromo', 'yrsmanager']

In [34]:
df[decimal_columns] = df[decimal_columns].round().astype(int)

In [35]:
df.head()

,Age,Attrition,dpt,distance,Education,Gender,rate,role,marriage,companies,OverTime,hike,yrsworked,yrs,yrsrole,yrspromo,yrsmanager
0,42,1,Sales,1,2,Male,94,Sales Executive,Single,7,Yes,10,8,6,4,0,5
1,52,0,Research & Development,9,1,Male,52,Research Scientist,Married,1,No,15,9,10,8,1,6
2,33,1,Research & Development,2,2,Male,87,Laboratory Technician,Single,6,Yes,15,8,0,0,0,0
3,35,0,Sales,3,4,Female,56,Research Scientist,Married,1,Yes,10,8,8,6,3,0
4,25,0,Research & Development,2,1,Male,40,Laboratory Technician,Married,10,No,12,6,2,2,2,2

## Explatory Data Analysis